.board {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: slategray;
}

.innerBoard {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
}

.cell {
  cursor: initial;
  box-sizing: border-box;
}

.cell.enabled {
  border: 1px solid slategray;
  background-color: darkslategrey;
}

.cell.disabled {
  background-color: slategray;
}

.cell.center {
  background-color: darkslateblue;
}
